#banner {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
    background-color: grey;
    border-bottom: black;
  }
  
  #banner a {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    color: darkblue;
    background-color: grey;
  }